<link rel="stylesheet" href="/css/basic.css">

<h1>One does not simply</h1>
<div class="image">
  <img src='/jpg/boromir.jpg' />
</div> 
<h1><%= simple %></h1>
<div class="footer">
<p>Boromir as a service</p>
<p>Inspired by <a href="http://foaas.herokuapp.com/">FOAAS</href></p>
</div>
